<a href="https://colab.research.google.com/github/KILjungjoon/Project_Asian_Parliament/blob/main/lexicon_polarity_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Method 1) lexicon-polarity.csv for Sentimental Analysis
* data https://github.com/lrheault/emotion/blob/master/lexicon-polarity.csv
> - lexicon used for a study of emotional polarity in the British House of Commons.
> - an emotional polarity lexicon trained on the entire British Hansard for the period 1909-2013.
> - It can be used as an off-the-shelf lexicon for studying sentiment in political texts.

In [1]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/lrheault/emotion/master/lexicon-polarity.csv")
df.head()

          lemma pos1  polarity  seed
0  congratulate    v  1.000000     0
1     delighted    a  0.963709     0
2  high-quality    a  0.959491     0
3       tribute    n  0.957296     0
4       commend    v  0.919690     0

In [2]:
df.shape

(4200, 4)

In [3]:
df.describe()

          polarity         seed
count  4200.000000  4200.000000
mean      0.006811     0.047619
std       0.480487     0.212984
min      -1.000000     0.000000
25%      -0.393385     0.000000
50%       0.003430     0.000000
75%       0.408415     0.000000
max       1.000000     1.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4200 entries, 0 to 4199
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   lemma     4200 non-null   object
 1   pos1      4200 non-null   object
 2   polarity  4200 non-null   float64
 3   seed      4200 non-null   int64
dtypes: float64(1), int64(1), object(2)
memory usage: 131.4+ KB

< References >
* Rheault L, Beelen K, Cochrane C, Hirst G (2016) Measuring Emotion in Parliamentary Debates with Automated Textual Analysis. PLoS ONE 11(12): e0168843. https://doi.org/10.1371/journal.pone.0168843
* https://github.com/lrheault/emotion